In [1]:
import itertools

In [2]:
import pandas as pd

In [6]:
prices2 = [3.41,7.68, 4.22]
variations2 = itertools.permutations(prices2,2)

In [7]:
data2 = pd.DataFrame(variations2, columns = ["first", "second"])
data2["change"] = ((data2["second"]-data2["first"])/data2["first"] * 100).round(2)
data2

   first  second  change
0   3.41    7.68  125.22
1   3.41    4.22   23.75
2   7.68    3.41  -55.60
3   7.68    4.22  -45.05
4   4.22    3.41  -19.19
5   4.22    7.68   81.99

In [5]:
6

6